<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- Set OpenAIApiKey to your OpenAI API key to enable live AI nutrition lookups.
         Leave blank to use the built-in stub data (suitable for dev/demo). -->
    <add key="OpenAIApiKey" value="" />
    <add key="OpenAIModel" value="gpt-4o-mini" />
  </appSettings>

  <connectionStrings>
    <add name="MiMealOrdering"
         connectionString="Server=localhost;Database=MiMealOrdering;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>

</configuration>
